#suggestionMenu {
	background: url(http://fahrplan.oebb.at/img/vs_scotty/standard/bg_blu_content.png)
		0 100px;
}
#suggestion li.adr,
#suggestion li.adrselected {
	background-image: url(http://fahrplan.oebb.at/img/icons/icon_address.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#suggestion li.poi,
#suggestion li.poiselected {
	background-image: url(http://fahrplan.oebb.at/img/icons/icon_poi.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
#suggestion li.oebb,
#suggestion li.oebbselected {
	background-image: url(http://fahrplan.oebb.at/img/icons/train.gif);
}
.suggestButton {
	background: url(http://fahrplan.oebb.at/img/vs_scotty/icons/icon_text_2.png)
		no-repeat 3px 3px;
}
#more {
	background: url(http://fahrplan.oebb.at/img/mobile/delayNormal.png);
}
.infobox {
	background: url(http://fahrplan.oebb.at/img/vs_scotty/icons/icon_arrow_2_hover.gif);
}
.match,
.matchhover {
	background: url(http://fahrplan.oebb.at/img/vs_scotty/icons/icon_arrow_2.gif)
		no-repeat 0 7px;
}
#HFS .matchhover {
	background: url(http://fahrplan.oebb.at/img/vs_scotty/icons/icon_arrow_2_hover.gif)
		no-repeat 0 7px;
}
#suggestion li.furtherMatches,
#suggestion li.furtherMatchesselected {
	background: url(http://fahrplan.oebb.at/img/vs_scotty/standard/bg_btn_mapblu.png)
		repeat-x scroll 0 0;
}
#suggestion li {
	background: url(http://fahrplan.oebb.at/img/vs_scotty/station.gif) no-repeat
		2px 2px;
}
.topmatches {
	background: url(http://fahrplan.oebb.at/img/vs_scotty/standard/bg_results_th.png)
		repeat scroll 0 0;
}
